In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import geopandas as gpd

import warnings
warnings.filterwarnings("ignore")

In [2]:
matches_df = pd.read_csv('match_2008_2023.csv')

In [3]:
matches_df.head()

,match_id,season,balls_per_over,city,dates,match_referees,reserve_umpires,tv_umpires,umpire1,umpire2,...,toss_decision,toss_winner,dl_applied,venue,team_a,team_b,target_overs,target_runs,win_by_runs,win_by_wickets
0,1,IPL-2017,6,Hyderabad,2017-04-05,J Srinath,N Pandit,A Deshmukh,AY Dandekar,NJ Llong,...,field,Royal Challengers Bangalore,0,"Rajiv Gandhi International Stadium, Uppal",Sunrisers Hyderabad,Royal Challengers Bangalore,20.0,208,35,0
1,2,IPL-2017,6,Pune,2017-04-06,M Nayyar,Navdeep Singh,VK Sharma,A Nand Kishore,S Ravi,...,field,Rising Pune Supergiant,0,Maharashtra Cricket Association Stadium,Rising Pune Supergiant,Mumbai Indians,20.0,185,0,7
2,3,IPL-2017,6,Rajkot,2017-04-07,V Narayan Kutty,K Srinivasan,YC Barde,Nitin Menon,CK Nandan,...,field,Kolkata Knight Riders,0,Saurashtra Cricket Association Stadium,Gujarat Lions,Kolkata Knight Riders,20.0,184,0,10
3,4,IPL-2017,6,Indore,2017-04-08,Chinmay Sharma,R Pandit,KN Ananthapadmanabhan,AK Chaudhary,C Shamshuddin,...,field,Kings XI Punjab,0,Holkar Cricket Stadium,Kings XI Punjab,Rising Pune Supergiant,20.0,164,0,6
4,5,IPL-2017,6,Bengaluru,2017-04-08,J Srinath,Navdeep Singh,A Nand Kishore,S Ravi,VK Sharma,...,bat,Royal Challengers Bangalore,0,M.Chinnaswamy Stadium,Royal Challengers Bangalore,Delhi Daredevils,20.0,158,15,0

In [4]:
matches_df.shape

(1024, 23)

In [5]:
matches_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1024 entries, 0 to 1023
Data columns (total 23 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   match_id         1024 non-null   int64
 1   season           1024 non-null   object
 2   balls_per_over   1024 non-null   int64
 3   city             973 non-null    object
 4   dates            1024 non-null   object
 5   match_referees   1024 non-null   object
 6   reserve_umpires  1000 non-null   object
 7   tv_umpires       1021 non-null   object
 8   umpire1          1024 non-null   object
 9   umpire2          1024 non-null   object
 10  winner           1005 non-null   object
 11  result           1024 non-null   object
 12  player_of_match  1019 non-null   object
 13  toss_decision    1024 non-null   object
 14  toss_winner      1024 non-null   object
 15  dl_applied       1024 non-null   int64
 16  venue            1024 non-null   object
 17  team_a           1024 non-null   object
 18  team_b           1024 non-null   object
 19  target_overs     1024 non-null   float64
 20  target_runs      1024 non-null   int64
 21  win_by_runs      1024 non-null   int64
 22  win_by_wickets   1024 non-null   int64
dtypes: float64(1), int64(6), object(16)
memory usage: 184.1+ KB

In [6]:
matches_df['season'] = matches_df.season.apply(lambda x: int(x[-4:]))

In [7]:
matches_df.head()

,match_id,season,balls_per_over,city,dates,match_referees,reserve_umpires,tv_umpires,umpire1,umpire2,...,toss_decision,toss_winner,dl_applied,venue,team_a,team_b,target_overs,target_runs,win_by_runs,win_by_wickets
0,1,2017,6,Hyderabad,2017-04-05,J Srinath,N Pandit,A Deshmukh,AY Dandekar,NJ Llong,...,field,Royal Challengers Bangalore,0,"Rajiv Gandhi International Stadium, Uppal",Sunrisers Hyderabad,Royal Challengers Bangalore,20.0,208,35,0
1,2,2017,6,Pune,2017-04-06,M Nayyar,Navdeep Singh,VK Sharma,A Nand Kishore,S Ravi,...,field,Rising Pune Supergiant,0,Maharashtra Cricket Association Stadium,Rising Pune Supergiant,Mumbai Indians,20.0,185,0,7
2,3,2017,6,Rajkot,2017-04-07,V Narayan Kutty,K Srinivasan,YC Barde,Nitin Menon,CK Nandan,...,field,Kolkata Knight Riders,0,Saurashtra Cricket Association Stadium,Gujarat Lions,Kolkata Knight Riders,20.0,184,0,10
3,4,2017,6,Indore,2017-04-08,Chinmay Sharma,R Pandit,KN Ananthapadmanabhan,AK Chaudhary,C Shamshuddin,...,field,Kings XI Punjab,0,Holkar Cricket Stadium,Kings XI Punjab,Rising Pune Supergiant,20.0,164,0,6
4,5,2017,6,Bengaluru,2017-04-08,J Srinath,Navdeep Singh,A Nand Kishore,S Ravi,VK Sharma,...,bat,Royal Challengers Bangalore,0,M.Chinnaswamy Stadium,Royal Challengers Bangalore,Delhi Daredevils,20.0,158,15,0

In [8]:
# Drop redundant columns
matches_df = matches_df.drop(['balls_per_over'], axis=1)

In [9]:
matches_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1024 entries, 0 to 1023
Data columns (total 22 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   match_id         1024 non-null   int64
 1   season           1024 non-null   int64
 2   city             973 non-null    object
 3   dates            1024 non-null   object
 4   match_referees   1024 non-null   object
 5   reserve_umpires  1000 non-null   object
 6   tv_umpires       1021 non-null   object
 7   umpire1          1024 non-null   object
 8   umpire2          1024 non-null   object
 9   winner           1005 non-null   object
 10  result           1024 non-null   object
 11  player_of_match  1019 non-null   object
 12  toss_decision    1024 non-null   object
 13  toss_winner      1024 non-null   object
 14  dl_applied       1024 non-null   int64
 15  venue            1024 non-null   object
 16  team_a           1024 non-null   object
 17  team_b           1024 non-null   object
 18  target_overs     1024 non-null   float64
 19  target_runs      1024 non-null   int64
 20  win_by_runs      1024 non-null   int64
 21  win_by_wickets   1024 non-null   int64
dtypes: float64(1), int64(6), object(15)
memory usage: 176.1+ KB

In [10]:
matches_df['team_a'].value_counts()

Royal Challengers Bangalore    135
Chennai Super Kings            120
Mumbai Indians                 118
Kolkata Knight Riders          112
Rajasthan Royals                96
Kings XI Punjab                 92
Delhi Daredevils                85
Sunrisers Hyderabad             76
Deccan Chargers                 39
Delhi Capitals                  34
Punjab Kings                    27
Pune Warriors                   23
Gujarat Lions                   16
Lucknow Super Giants            15
Gujarat Titans                  15
Rising Pune Supergiant           7
Kochi Tuskers Kerala             7
Rising Pune Supergiants          7
Name: team_a, dtype: int64

In [11]:
matches_df.shape

(1024, 22)

In [12]:
def change_name(team_name, old_name_new_name_dict):
    if team_name in old_name_new_name_dict.keys():
        return old_name_new_name_dict[team_name]
    return team_name

In [13]:
old_team_name_new_name_dict = {
    'Deccan Chargers' :'Sunrisers Hyderabad', 
    'Delhi Daredevils':'Delhi Capitals',
    'Gujarat Lions': 'Gujarat Titans',
    'Kings XI Punjab':'Punjab Kings'
    }


for column in ['team_a','team_b','toss_winner','winner']: 
  matches_df[column] = matches_df[column].apply(lambda x: change_name(x, old_team_name_new_name_dict))

In [14]:
matches_df['team_a'].value_counts()

Royal Challengers Bangalore    135
Chennai Super Kings            120
Punjab Kings                   119
Delhi Capitals                 119
Mumbai Indians                 118
Sunrisers Hyderabad            115
Kolkata Knight Riders          112
Rajasthan Royals                96
Gujarat Titans                  31
Pune Warriors                   23
Lucknow Super Giants            15
Rising Pune Supergiant           7
Kochi Tuskers Kerala             7
Rising Pune Supergiants          7
Name: team_a, dtype: int64

In [15]:
old_stad_new_stad_dict = {
    'Punjab Cricket Association IS Bindra Stadium':'Punjab Cricket Association IS Bindra Stadium, Mohali',
    'Punjab Cricket Association Stadium, Mohali':'Punjab Cricket Association IS Bindra Stadium, Mohali',
    'Punjab Cricket Association IS Bindra Stadium, Mohali, Chandigarh': 'Punjab Cricket Association IS Bindra Stadium, Mohali',
    'Feroz Shah Kotla':'Feroz Shah Kotla Ground',
    'Subrata Roy Sahara Stadium':'Maharashtra Cricket Association Stadium',
    'Arun Jaitley Stadium': 'Arun Jaitley Stadium, Delhi',
    'Brabourne Stadium':'Brabourne Stadium, Mumbai',
    'Dr DY Patil Sports Academy':'Dr DY Patil Sports Academy, Mumbai',
    'Eden Gardens':'Eden Gardens, Kolkata',
    'Himachal Pradesh Cricket Association Stadium':'Himachal Pradesh Cricket Association Stadium, Dharamsala',
    'M Chinnaswamy Stadium':'M Chinnaswamy Stadium, Bengaluru',
    'M.Chinnaswamy Stadium':'M Chinnaswamy Stadium, Bengaluru',
    'MA Chidambaram Stadium':'MA Chidambaram Stadium, Chepauk',
    'MA Chidambaram Stadium, Chepauk, Chennai':'MA Chidambaram Stadium, Chepauk',
    'Maharashtra Cricket Association Stadium':'Maharashtra Cricket Association Stadium, Pune',
    'Rajiv Gandhi International Stadium':'Rajiv Gandhi International Stadium, Uppal',
    'Rajiv Gandhi International Stadium, Uppal, Hyderabad':'Rajiv Gandhi International Stadium, Uppal',
    'Sawai Mansingh Stadium':'Sawai Mansingh Stadium, Jaipur',
    'Wankhede Stadium':'Wankhede Stadium, Mumbai'
  }

old_city_new_city_dict = {
    'Bengaluru':'Bangalore',
    'Navi Mumbai':'Mumbai'
  }

In [16]:
matches_df['venue'] = matches_df['venue'].apply(lambda x: change_name(x, old_stad_new_stad_dict))
matches_df['city'] = matches_df['city'].apply(lambda x: change_name(x, old_city_new_city_dict))

In [17]:
matches_df.shape

(1024, 22)

In [18]:
matches_df['venue'].value_counts()

Wankhede Stadium, Mumbai                                                 111
M Chinnaswamy Stadium, Bengaluru                                          87
Eden Gardens, Kolkata                                                     86
MA Chidambaram Stadium, Chepauk                                           76
Rajiv Gandhi International Stadium, Uppal                                 71
Punjab Cricket Association IS Bindra Stadium, Mohali                      61
Feroz Shah Kotla Ground                                                   60
Sawai Mansingh Stadium, Jaipur                                            52
Dubai International Cricket Stadium                                       46
Dr DY Patil Sports Academy, Mumbai                                        37
Maharashtra Cricket Association Stadium, Pune                             35
Sheikh Zayed Stadium                                                      29
Sharjah Cricket Stadium                                                   28
Brabourne Stadium, Mumbai                                                 27
Arun Jaitley Stadium, Delhi                                               25
Maharashtra Cricket Association Stadium                                   16
Narendra Modi Stadium, Ahmedabad                                          16
Kingsmead                                                                 15
Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium                       13
Sardar Patel Stadium, Motera                                              12
SuperSport Park                                                           12
Himachal Pradesh Cricket Association Stadium, Dharamsala                  11
Saurashtra Cricket Association Stadium                                    10
Holkar Cricket Stadium                                                     9
Zayed Cricket Stadium, Abu Dhabi                                           8
New Wanderers Stadium                                                      8
St George's Park                                                           7
Newlands                                                                   7
Bharat Ratna Shri Atal Bihari Vajpayee Ekana Cricket Stadium, Lucknow      7
Barabati Stadium                                                           7
JSCA International Stadium Complex                                         7
Shaheed Veer Narayan Singh International Stadium                           6
Nehru Stadium                                                              5
Green Park                                                                 4
Buffalo Park                                                               3
De Beers Diamond Oval                                                      3
Vidarbha Cricket Association Stadium, Jamtha                               3
Barsapara Cricket Stadium, Guwahati                                        2
OUTsurance Oval                                                            2
Name: venue, dtype: int64

In [19]:
matches_df.shape

(1024, 22)

In [20]:
matches_df['dl_applied'].value_counts()

0    1003
1      21
Name: dl_applied, dtype: int64

In [21]:
matches_df = matches_df[matches_df['dl_applied'] != 1]

In [22]:
matches_df.shape

(1003, 22)

In [23]:
deliveries_df = pd.read_csv('deliveries_2008_2023.csv')

In [24]:
deliveries_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 243817 entries, 0 to 243816
Data columns (total 21 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   match_id          243817 non-null  int64
 1   inning            243817 non-null  int64
 2   batting_team      243817 non-null  object
 3   bowling_team      243817 non-null  object
 4   over              243817 non-null  int64
 5   ball              243817 non-null  int64
 6   batsman           243817 non-null  object
 7   non_striker       243817 non-null  object
 8   bowler            243817 non-null  object
 9   is_super_over     243817 non-null  int64
 10  wide_runs         243817 non-null  int64
 11  bye_runs          243817 non-null  int64
 12  legbye_runs       243817 non-null  int64
 13  noball_runs       243817 non-null  int64
 14  penalty_runs      243817 non-null  int64
 15  batsman_runs      243817 non-null  int64
 16  extra_runs        243817 non-null  int64
 17  total_runs        243817 non-null  int64
 18  player_dismissed  12067 non-null   object
 19  dismissal_kind    12067 non-null   object
 20  fielder           8663 non-null    object
dtypes: int64(13), object(8)
memory usage: 39.1+ MB

In [25]:
deliveries_df.shape

(243817, 21)

In [26]:
print('Old deliveries_df shape:',deliveries_df.shape)
new_deliveries_df = deliveries_df[(deliveries_df['inning'] != 1) & (deliveries_df['inning'] != 2)]

# from deliveries_df remove innings greater than 2 when there is no super over
for index, row in new_deliveries_df.iterrows():
    if row.inning > 2 and row.is_super_over == 0:
        deliveries_df.drop(index=index, inplace=True)

print('New deliveries_df shape:',deliveries_df.shape)

Old deliveries_df shape: (243817, 21)
New deliveries_df shape: (243817, 21)

In [27]:
def decide_inning(row):
    id = row[0] # row[0] = deliveries_df['match_id']
    ball = row[5] # row[0] = deliveries_df['ball']
    batting_team = row[2] # row[0] = deliveries_df['batting_team']

    del_df = deliveries_df[deliveries_df['match_id'] == id].values[0] # 1st row of match whose match id is equal to match id of row provided.
    team = del_df[2] # team name of 1st batting team
    new_inning = 1 if batting_team == team else 2

    deliveries_df.loc[((deliveries_df.match_id == id) &
                       (deliveries_df.is_super_over == 1) & 
                       (deliveries_df.ball == ball) & 
                       (deliveries_df.batting_team == batting_team)), 'inning'] =  new_inning # To get unique row we did four checks

deliveries_df[deliveries_df.is_super_over == 1].apply(lambda row: decide_inning(row) , axis =1)
deliveries_df.shape

(243817, 21)

In [28]:
'''Drop all the rows whose winner is unknown...'''

print('**** Shape Before row deletion ****')
print('matches_df Shape: ',matches_df.shape)
print('deliveries_df Shape: ',deliveries_df.shape)

# Dropping from matches_df dataframe
drop_index_for_matches_df = matches_df[matches_df.winner.isna()].index
matches_df.drop(index=drop_index_for_matches_df, inplace=True)

# Dropping from deliveries_df dataframe
drop_match_id_for_deliveries_df = matches_df.iloc[matches_df[matches_df.winner.isna()].index].match_id.values
for m_id in drop_match_id_for_deliveries_df:
    drop_index_for_deliveries_df = deliveries_df[deliveries_df.match_id == m_id].index 
    deliveries_df.drop(index=drop_index_for_deliveries_df, inplace =True)

print()
print('**** Shape After row deletion ****')
print('matches_df Shape: ',matches_df.shape)
print('deliveries_df Shape: ',deliveries_df.shape)

**** Shape Before row deletion ****
matches_df Shape:  (1003, 22)
deliveries_df Shape:  (243817, 21)

**** Shape After row deletion ****
matches_df Shape:  (984, 22)
deliveries_df Shape:  (243817, 21)

In [29]:
matches_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 984 entries, 0 to 1023
Data columns (total 22 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   match_id         984 non-null    int64
 1   season           984 non-null    int64
 2   city             936 non-null    object
 3   dates            984 non-null    object
 4   match_referees   984 non-null    object
 5   reserve_umpires  961 non-null    object
 6   tv_umpires       981 non-null    object
 7   umpire1          984 non-null    object
 8   umpire2          984 non-null    object
 9   winner           984 non-null    object
 10  result           984 non-null    object
 11  player_of_match  984 non-null    object
 12  toss_decision    984 non-null    object
 13  toss_winner      984 non-null    object
 14  dl_applied       984 non-null    int64
 15  venue            984 non-null    object
 16  team_a           984 non-null    object
 17  team_b           984 non-null    object
 18  target_overs     984 non-null    float64
 19  target_runs      984 non-null    int64
 20  win_by_runs      984 non-null    int64
 21  win_by_wickets   984 non-null    int64
dtypes: float64(1), int64(6), object(15)
memory usage: 176.8+ KB

In [30]:
deliveries_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 243817 entries, 0 to 243816
Data columns (total 21 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   match_id          243817 non-null  int64
 1   inning            243817 non-null  int64
 2   batting_team      243817 non-null  object
 3   bowling_team      243817 non-null  object
 4   over              243817 non-null  int64
 5   ball              243817 non-null  int64
 6   batsman           243817 non-null  object
 7   non_striker       243817 non-null  object
 8   bowler            243817 non-null  object
 9   is_super_over     243817 non-null  int64
 10  wide_runs         243817 non-null  int64
 11  bye_runs          243817 non-null  int64
 12  legbye_runs       243817 non-null  int64
 13  noball_runs       243817 non-null  int64
 14  penalty_runs      243817 non-null  int64
 15  batsman_runs      243817 non-null  int64
 16  extra_runs        243817 non-null  int64
 17  total_runs        243817 non-null  int64
 18  player_dismissed  12067 non-null   object
 19  dismissal_kind    12067 non-null   object
 20  fielder           8663 non-null    object
dtypes: int64(13), object(8)
memory usage: 39.1+ MB

In [31]:

# Sort by date
matches_df.date = matches_df.dates.apply(lambda x: pd.to_datetime(x))
matches_df.sort_values('dates',inplace=True)
matches_df.reset_index(inplace=True)

In [32]:
def add_season_wise_match_number():
    x = matches_df['season'][0]
    ls = []
    i=0
    for season in matches_df['season']:
        if x == season:
            i+=1
            ls.append(i)
        else:
            x=season
            i=1
            ls.append(i)
        
    matches_df['match_number'] = ls

add_season_wise_match_number()

In [33]:
matches_df

,index,match_id,season,city,dates,match_referees,reserve_umpires,tv_umpires,umpire1,umpire2,...,toss_winner,dl_applied,venue,team_a,team_b,target_overs,target_runs,win_by_runs,win_by_wickets,match_number
0,447,448,2008,Bangalore,2008-04-18,J Srinath,VN Kulkarni,AM Saheba,Asad Rauf,RE Koertzen,...,Royal Challengers Bangalore,0,"M Chinnaswamy Stadium, Bengaluru",Royal Challengers Bangalore,Kolkata Knight Riders,20.0,223,140,0,1
1,448,449,2008,Chandigarh,2008-04-19,S Venkataraghavan,MSS Ranawat,RB Tiffin,MR Benson,SL Shastri,...,Chennai Super Kings,0,"Punjab Cricket Association IS Bindra Stadium, ...",Punjab Kings,Chennai Super Kings,20.0,241,33,0,2
2,449,450,2008,Delhi,2008-04-19,GR Viswanath,NaN,IL Howell,Aleem Dar,GA Pratapkumar,...,Rajasthan Royals,0,Feroz Shah Kotla Ground,Delhi Capitals,Rajasthan Royals,20.0,130,0,9,3
3,450,451,2008,Mumbai,2008-04-20,J Srinath,SN Bandekar,AV Jayaprakash,SJ Davis,DJ Harper,...,Mumbai Indians,0,"Wankhede Stadium, Mumbai",Mumbai Indians,Royal Challengers Bangalore,20.0,166,0,5,4
4,451,452,2008,Kolkata,2008-04-20,FM Engineer,F Gomes,Asad Rauf,BF Bowden,K Hariharan,...,Sunrisers Hyderabad,0,"Eden Gardens, Kolkata",Kolkata Knight Riders,Sunrisers Hyderabad,20.0,111,0,5,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
979,441,442,2023,Mumbai,2023-05-21,P Dharmani,P Joshi,R Pandit,KN Ananthapadmanabhan,RJ Tucker,...,Mumbai Indians,0,"Wankhede Stadium, Mumbai",Sunrisers Hyderabad,Mumbai Indians,20.0,201,0,8,67
980,442,443,2023,Bangalore,2023-05-21,J Srinath,VM Dhokre,Tapan Sharma,Nitin Menon,VK Sharma,...,Gujarat Titans,0,"M Chinnaswamy Stadium, Bengaluru",Royal Challengers Bangalore,Gujarat Titans,20.0,198,0,6,68
981,443,444,2023,Chennai,2023-05-23,M Nayyar,VK Sharma,BNJ Oxenford,AK Chaudhary,CB Gaffaney,...,Gujarat Titans,0,"MA Chidambaram Stadium, Chepauk",Chennai Super Kings,Gujarat Titans,20.0,173,15,0,69
982,444,445,2023,Chennai,2023-05-24,V Narayan Kutty,AK Chaudhary,CB Gaffaney,BNJ Oxenford,VK Sharma,...,Mumbai Indians,0,"MA Chidambaram Stadium, Chepauk",Mumbai Indians,Lucknow Super Giants,20.0,183,81,0,70
983,445,446,2023,Ahmedabad,2023-05-26,J Srinath,KN Ananthapadmanabhan,J Madanagopal,Nitin Menon,RJ Tucker,...,Mumbai Indians,0,"Narendra Modi Stadium, Ahmedabad",Gujarat Titans,Mumbai Indians,20.0,234,62,0,71

In [34]:

# Assuming you have a list of teams playing in 2024
teams_2024 = ['Kolkata Knight Riders', 'Rajasthan Royals', 'Gujarat Titans', 'Chennai Super Kings', 'Lucknow Super Giants', 'Delhi Capitals', 'Mumbai Indians', 'Sunrisers Hyderabad', 'Royal Challengers Bangalore', 'Punjab Kings']

# Filter the rows based on teams in 2024
matches_df = matches_df[matches_df['team_a'].isin(teams_2024) & matches_df['team_b'].isin(teams_2024)]

# Reset the index after making changes
matches_df.reset_index(inplace=True, drop=True)

In [35]:
matches_df.shape

(900, 24)

In [36]:
merged_data = pd.merge(matches_df, deliveries_df, on='match_id')

In [37]:
merged_data.head()

,index,match_id,season,city,dates,match_referees,reserve_umpires,tv_umpires,umpire1,umpire2,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,447,448,2008,Bangalore,2008-04-18,J Srinath,VN Kulkarni,AM Saheba,Asad Rauf,RE Koertzen,...,0,0,0,0,0,1,1,NaN,NaN,NaN
1,447,448,2008,Bangalore,2008-04-18,J Srinath,VN Kulkarni,AM Saheba,Asad Rauf,RE Koertzen,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,447,448,2008,Bangalore,2008-04-18,J Srinath,VN Kulkarni,AM Saheba,Asad Rauf,RE Koertzen,...,0,0,0,0,0,1,1,NaN,NaN,NaN
3,447,448,2008,Bangalore,2008-04-18,J Srinath,VN Kulkarni,AM Saheba,Asad Rauf,RE Koertzen,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,447,448,2008,Bangalore,2008-04-18,J Srinath,VN Kulkarni,AM Saheba,Asad Rauf,RE Koertzen,...,0,0,0,0,0,0,0,NaN,NaN,NaN

In [38]:
merged_data.to_csv('merged_data.csv', index=False)

In [39]:
merged_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 215964 entries, 0 to 215963
Data columns (total 44 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   index             215964 non-null  int64
 1   match_id          215964 non-null  int64
 2   season            215964 non-null  int64
 3   city              204352 non-null  object
 4   dates             215964 non-null  object
 5   match_referees    215964 non-null  object
 6   reserve_umpires   210470 non-null  object
 7   tv_umpires        215275 non-null  object
 8   umpire1           215964 non-null  object
 9   umpire2           215964 non-null  object
 10  winner            215964 non-null  object
 11  result            215964 non-null  object
 12  player_of_match   215964 non-null  object
 13  toss_decision     215964 non-null  object
 14  toss_winner       215964 non-null  object
 15  dl_applied        215964 non-null  int64
 16  venue             215964 non-null  object
 17  team_a            215964 non-null  object
 18  team_b            215964 non-null  object
 19  target_overs      215964 non-null  float64
 20  target_runs       215964 non-null  int64
 21  win_by_runs       215964 non-null  int64
 22  win_by_wickets    215964 non-null  int64
 23  match_number      215964 non-null  int64
 24  inning            215964 non-null  int64
 25  batting_team      215964 non-null  object
 26  bowling_team      215964 non-null  object
 27  over              215964 non-null  int64
 28  ball              215964 non-null  int64
 29  batsman           215964 non-null  object
 30  non_striker       215964 non-null  object
 31  bowler            215964 non-null  object
 32  is_super_over     215964 non-null  int64
 33  wide_runs         215964 non-null  int64
 34  bye_runs          215964 non-null  int64
 35  legbye_runs       215964 non-null  int64
 36  noball_runs       215964 non-null  int64
 37  penalty_runs      215964 non-null  int64
 38  batsman_runs      215964 non-null  int64
 39  extra_runs        215964 non-null  int64
 40  total_runs        215964 non-null  int64
 41  player_dismissed  10658 non-null   object
 42  dismissal_kind    10658 non-null   object
 43  fielder           7656 non-null    object
dtypes: float64(1), int64(20), object(23)
memory usage: 74.1+ MB

In [40]:
merged_data.shape

(215964, 44)

In [41]:
merged_data['match_id'].nunique()

900

In [42]:
merged_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 215964 entries, 0 to 215963
Data columns (total 44 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   index             215964 non-null  int64
 1   match_id          215964 non-null  int64
 2   season            215964 non-null  int64
 3   city              204352 non-null  object
 4   dates             215964 non-null  object
 5   match_referees    215964 non-null  object
 6   reserve_umpires   210470 non-null  object
 7   tv_umpires        215275 non-null  object
 8   umpire1           215964 non-null  object
 9   umpire2           215964 non-null  object
 10  winner            215964 non-null  object
 11  result            215964 non-null  object
 12  player_of_match   215964 non-null  object
 13  toss_decision     215964 non-null  object
 14  toss_winner       215964 non-null  object
 15  dl_applied        215964 non-null  int64
 16  venue             215964 non-null  object
 17  team_a            215964 non-null  object
 18  team_b            215964 non-null  object
 19  target_overs      215964 non-null  float64
 20  target_runs       215964 non-null  int64
 21  win_by_runs       215964 non-null  int64
 22  win_by_wickets    215964 non-null  int64
 23  match_number      215964 non-null  int64
 24  inning            215964 non-null  int64
 25  batting_team      215964 non-null  object
 26  bowling_team      215964 non-null  object
 27  over              215964 non-null  int64
 28  ball              215964 non-null  int64
 29  batsman           215964 non-null  object
 30  non_striker       215964 non-null  object
 31  bowler            215964 non-null  object
 32  is_super_over     215964 non-null  int64
 33  wide_runs         215964 non-null  int64
 34  bye_runs          215964 non-null  int64
 35  legbye_runs       215964 non-null  int64
 36  noball_runs       215964 non-null  int64
 37  penalty_runs      215964 non-null  int64
 38  batsman_runs      215964 non-null  int64
 39  extra_runs        215964 non-null  int64
 40  total_runs        215964 non-null  int64
 41  player_dismissed  10658 non-null   object
 42  dismissal_kind    10658 non-null   object
 43  fielder           7656 non-null    object
dtypes: float64(1), int64(20), object(23)
memory usage: 74.1+ MB

In [43]:
columns_to_drop = ['index', 'season', 'city', 'dates', 'match_referees', 'reserve_umpires',
                   'tv_umpires', 'umpire1', 'umpire2', 'dl_applied', 'venue', 'target_overs',
                   'target_runs', 'win_by_runs', 'win_by_wickets', 'match_number',
                   'is_super_over', 'player_dismissed', 'dismissal_kind', 'fielder']

merged_data = merged_data.drop(columns=columns_to_drop)

In [44]:
merged_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 215964 entries, 0 to 215963
Data columns (total 24 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   match_id         215964 non-null  int64
 1   winner           215964 non-null  object
 2   result           215964 non-null  object
 3   player_of_match  215964 non-null  object
 4   toss_decision    215964 non-null  object
 5   toss_winner      215964 non-null  object
 6   team_a           215964 non-null  object
 7   team_b           215964 non-null  object
 8   inning           215964 non-null  int64
 9   batting_team     215964 non-null  object
 10  bowling_team     215964 non-null  object
 11  over             215964 non-null  int64
 12  ball             215964 non-null  int64
 13  batsman          215964 non-null  object
 14  non_striker      215964 non-null  object
 15  bowler           215964 non-null  object
 16  wide_runs        215964 non-null  int64
 17  bye_runs         215964 non-null  int64
 18  legbye_runs      215964 non-null  int64
 19  noball_runs      215964 non-null  int64
 20  penalty_runs     215964 non-null  int64
 21  batsman_runs     215964 non-null  int64
 22  extra_runs       215964 non-null  int64
 23  total_runs       215964 non-null  int64
dtypes: int64(12), object(12)
memory usage: 41.2+ MB

In [45]:
merged_data = merged_data.fillna(0)

In [46]:
merged_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 215964 entries, 0 to 215963
Data columns (total 24 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   match_id         215964 non-null  int64
 1   winner           215964 non-null  object
 2   result           215964 non-null  object
 3   player_of_match  215964 non-null  object
 4   toss_decision    215964 non-null  object
 5   toss_winner      215964 non-null  object
 6   team_a           215964 non-null  object
 7   team_b           215964 non-null  object
 8   inning           215964 non-null  int64
 9   batting_team     215964 non-null  object
 10  bowling_team     215964 non-null  object
 11  over             215964 non-null  int64
 12  ball             215964 non-null  int64
 13  batsman          215964 non-null  object
 14  non_striker      215964 non-null  object
 15  bowler           215964 non-null  object
 16  wide_runs        215964 non-null  int64
 17  bye_runs         215964 non-null  int64
 18  legbye_runs      215964 non-null  int64
 19  noball_runs      215964 non-null  int64
 20  penalty_runs     215964 non-null  int64
 21  batsman_runs     215964 non-null  int64
 22  extra_runs       215964 non-null  int64
 23  total_runs       215964 non-null  int64
dtypes: int64(12), object(12)
memory usage: 41.2+ MB

In [47]:
from sklearn.preprocessing import LabelEncoder

columns_to_encode = ['winner', 'result', 'player_of_match', 'toss_decision', 'toss_winner', 'team_a', 'team_b', 'batting_team', 'bowling_team', 'batsman', 'non_striker', 'bowler']

label_encoder = LabelEncoder()

for column in columns_to_encode:
    merged_data[column] = label_encoder.fit_transform(merged_data[column])

In [48]:
merged_data.head()

,match_id,winner,result,player_of_match,toss_decision,toss_winner,team_a,team_b,inning,batting_team,...,non_striker,bowler,wide_runs,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs
0,448,3,0,32,1,8,8,3,1,7,...,94,309,0,0,0,0,0,0,1,1
1,448,3,0,32,1,8,8,3,1,7,...,491,309,0,0,0,0,0,0,0,0
2,448,3,0,32,1,8,8,3,1,7,...,491,309,0,0,0,0,0,0,1,1
3,448,3,0,32,1,8,8,3,1,7,...,491,309,0,0,0,0,0,0,0,0
4,448,3,0,32,1,8,8,3,1,7,...,491,309,0,0,0,0,0,0,0,0

In [49]:
X = merged_data.drop(columns=['winner'])
y = merged_data['winner']

In [50]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [51]:
# Initialize Decision Tree model
dt_model = DecisionTreeClassifier(random_state=42, max_depth=15, min_samples_split=8, min_samples_leaf=10)

# Train the model
dt_model.fit(X_train, y_train)

# Make predictions on the test set
predictions_dt = dt_model.predict(X_test)

accuracy_dt = accuracy_score(y_test, predictions_dt)
print("Accuracy of Decision Tree : ", accuracy_dt)

Accuracy of Decision Tree :  0.9795647476462417

In [52]:
from sklearn.ensemble import RandomForestClassifier

rf_model = RandomForestClassifier(n_estimators=95, max_depth=15, random_state=21)
# Train the model
rf_model.fit(X_train, y_train)

# Make predictions on the test set
predictions_rf = rf_model.predict(X_test)

accuracy_rf = accuracy_score(y_test, predictions_rf)
print("Accuracy of Random Forest : ", accuracy_rf)

Accuracy of Random Forest :  0.9829603333847816

In [53]:
from sklearn.neighbors import KNeighborsClassifier

# Assuming your DataFrame is named 'df'
# Assuming X_train, X_test, y_train, y_test are already defined

# Initialize KNN model
knn_model = KNeighborsClassifier(n_neighbors=5)  # You can adjust the number of neighbors (n_neighbors) as needed

# Train the model
knn_model.fit(X_train, y_train)

# Make predictions on the test set
predictions_knn = knn_model.predict(X_test)


accuracy_knn = accuracy_score(y_test, predictions_knn)
print("Accuracy of KNN : ", accuracy_knn)

Accuracy of KNN :  0.8270875135051705

In [54]:
from sklearn.naive_bayes import GaussianNB

# Initialize Gaussian Naive Bayes model
nb_model = GaussianNB(priors=None,var_smoothing=1e-9   )

# Train the model
nb_model.fit(X_train, y_train)

# Make predictions on the test set
predictions_nb = nb_model.predict(X_test)

# Evaluate the model
accuracy_nb = accuracy_score(y_test, predictions_nb)
print("Accuracy (Naive Bayes):", accuracy_nb)

Accuracy (Naive Bayes): 0.36325050162062045

In [55]:
from xgboost import XGBClassifier

XGB_model = XGBClassifier(booster='gbtree',
    n_estimators=100,
    learning_rate=0.1,
    max_depth=3)

# Train the model
XGB_model.fit(X_train, y_train)

# Make predictions on the test set
predictions_xgb = XGB_model.predict(X_test)

# Evaluate the model
accuracy_xgb = accuracy_score(y_test, predictions_xgb)
print(f"Accuracy: {accuracy_xgb}")

Accuracy: 0.9419663528322272

In [56]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

# Assuming your DataFrame is named 'df'
# Assuming X_train, X_test, y_train, y_test are already defined

# Initialize Logistic Regression model
lr_model = LogisticRegression(
    penalty='l2',        # Regularization type: 'l1' or 'l2'
    C=1.0,               # Inverse of regularization strength; smaller values specify stronger regularization.
    random_state=42,     # Seed for random number generation
    max_iter=1000         # Maximum number of iterations for optimization solver
)

# Train the model
lr_model.fit(X_train, y_train)

# Make predictions on the test set
predictions_lr = lr_model.predict(X_test)

# Evaluate the model
accuracy_lr = accuracy_score(y_test, predictions_lr)
print("Accuracy (Logistic Regression):", accuracy_lr)

Accuracy (Logistic Regression): 0.27354530020064827